/*
    AgentIdea - Story Story main.css
   License: see http://www.agentidea.com/AgentStory/License.aspx
*/


body 
{
	font-family:Arial;
	background-color:#FFFFFF;
	color:Black;
}

a
{
	color:#5769BA;
}

.clsBody
{
	background-color:#ffffff;
	padding: 0px 0px 0px 0px;
	top:0px;
	left:0px;
	
}

.clsHaze
{
	width:100%;
	height:100%;
	background-image: http://www.agentidea.com/images/haze.png;
	background-repeat:repeat;
		
}

.clsBodyStoryEditor
{
	background-color:#ffffff;
		
}
.clsPageNoteHeader
{
	width:500px;
	background-color:#e0e0e0;
	font-weight:bold;
	font-size:12pt;
	padding:9 9 9 9;
}
.clsPageNote
{
	width:500px;
	height:170px;
	background-color:#e0e0e0;
	font-size:10pt;
	padding:9 9 9 9;
}
.clsLogArea
{
	background-color:Black;
	color:Yellow;
}

.clsEmailReadOnlyPreview
{
	background-color:#F4F2BF;
	border: groove 2px black;
	padding: 8px 8px 8px 8px;
}

.clsGreetingPrefix
{
	width:90px;
	background-color:Lime;
}

.clsContentHeader
{
	background-color:#979595;
	color:#ffffff;
	width:500px;
}

.clsEmailMessageStatusIcon
{
	cursor:help;
	width:11px;
	color:Yellow;
	background-color:Black;
	font-weight:bolder;
}

.clsMessageBoxHeader
{
	background-color:#979595;
	color:#ffffff;
	width:550px;
}

.clsMessageBoxSubHeader
{
	background-color:#444444;
	color:#ffffff;
}
.clsPaletteHeader
{
	width:300;
	height:auto;
	background-color:black;
	color:White;
	
}
.clsMediaItemsAttachPoint
{
	width:300;
	height:auto;
	background-color:#e0e0e5;
	
}
.clsChatTextbox
{
	background-color:#ffffff;
	color:black;
	width:450px;
	height:75px;
	overflow:auto;
}
.clsPalette
{
	width:560px;
	height:500px;
	overflow:auto;	
}
.clsAuthor
{
	background-color:#777777;
	color:#e0e0e0;
	text-align:left;
	
}

.clsTxtEmbed
{
	font-size:3pt;
	background-color:#e0e0e0;
	color:#888888;
	width:50px;
	overflow:hidden;
	height:100px;
}

.clsReadOnlyInputField
{
	background-color:#e0e0e0;
	color:#222222;
}

.clsStoryLogMessage
{
	white-space:pre;
	font-size:10pt;
	color:black;
	background-color:white;
}
.clsStoryLogMessageDateStamp
{
	font-size:7pt;
	color:black;
	background-color:white;
}

.clsTableStoryLogMessage
{
	background-color:#ffffff;
	width:88%;
}

.clsTextBox
{
	font-family:Arial;
	background-color:#ffffff;
	color:black;
	width:500px;
	height:250px;
	overflow:auto;
}

.clsTagBox
{
	background-color:#ffffff;
	color:black;
	width:500px;
	height:40px;
	overflow:auto;
}

.clsTagsTextBox
{
	font-family:Arial;
	background-color:#ffffff;
	color:black;
	width:250px;
	height:100px;
	overflow:auto;
}

.clsTagsHeader
{
	background-color:#979595;
	color:#ffffff;
	width:500px;
}

.clsSubjectLine
{
	font-family:Arial;
	background-color:#ffffff;
	color:black;
	width:500px;
	overflow:auto;
}

.clsPageElementIndicator
{
	font-family: Arial;
	color:White;
	background-color: Black;
	font-style: normal;
	text-transform: lowercase;
}

.clsSelAttachPoint
{
	background-color:Navy;
}

.clsStorySharingMatrixHeader
{
	background-color:Silver;
	color:Black;
	font-size:14pt;
}

.clsInvite
{
	font-size:medium;
	width:75%;
	height:auto;
}

.clsInviteCode
{
	font-family:Arial;
	color:#ffffff;
	background-color:Black;
	width:75%;
	
}

.clsUserDemographics
{
	
	font-style:italic;
}

.clsLog
{
	font-family:Arial;
	font-size:x-small;
	background-color:#e0e0e0;
	color:#000000;
	width:600px;
	height:200px;
	overflow:hidden;
	display:none;

	
}

.clsMsg
{
	background-color:Black;
	color:#DCF057;
}
.clsButton
{
		font-size:8pt;
		background-color:white;
		color:#888888;
	font-weight: 700;
	padding: 0 4 0 4;
	letter-spacing: 0.1em;
}

.clsButtonAction2
{
		font-size:8pt;
		background-color:orange;
		color:#000000;
	font-weight: 700;
	padding: 0 4 0 4;
	letter-spacing: 0.1em;
}
.clsButtonLGE
{
		font-size:12pt;
		background-color:#888888;
		color:#000000;
	font-weight: 700;
	padding: 0 4 0 4;
	/*letter-spacing: 0.1em;*/
}

.clsButtonAction2LGE
{
		font-size:12pt;
		background-color:orange;
		color:#000000;
	font-weight: 700;
	padding: 0 4 0 4;
	/*letter-spacing: 0.1em;*/
}
/* page */
.clsPageLabel
{
	background-color:#ffffff;
	padding: 0px 25px 0px 25px;
	font-family:Arial;
	font-size:14pt;
	
}
.clsPageNameLabel
{
	/* PAGE NAV PANEL */
	text-align:left;
	background-color:#dfdbd8; /* PANTONE Warm Gray 1c */
	border-bottom: solid 1px black;
	border-right: solid 1px black;
	border-left: solid 1px black;
	
	width:900px;
	
	
}
.clsPageNameLabelLGE
{
	/* PAGE NAV PANEL */
	text-align:left;
	background-color:#e0e0e0;
	
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
	padding-right: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
	
	
	width:1200px;
	
	
}

.clsAlertArea
{
	background-color:#f0f0f0;
	border-left: solid 1px black;
	border-right: solid 1px black;	
	border-bottom: solid 1px black;
	text-align:left;
	width:1200px;
 	
}

.clsAlertAreaTxtBox
{
	padding-left: 55px;
	background-color:#f0f0f0;
	height:30px;
	width:1100px;
	color:Black;
	border:none;
	font-family:Arial,Helvetica,Verdana;
	font-size:15pt;
	
	
}

.clsPageNameInput
{
	font-family:Arial;
	width:350px;
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:none;
	background-color:#B7BF81;
	padding:4px 4px 4px 4px;
	
}
.clsPageNameInputHover
{
	font-family:Arial;
	width:350px;
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:none;
	background-color:#e0e0e0;
	
}
.clsPageNameInputEdit
{
	
	font-family:Arial;
	width:350px;
	background-color:#DCF057;
}

.clsInputField
{
	font-family:Arial;
	width:500px;
}


.clsHyperLink
{
	background-color:Black;
	color:#DCF057;
	cursor:crosshair;
}

.clsSmallLink
{
	padding-left:15px;
	font-size:x-small;
}


.clsInviteTitle
{
	background-color:#FC7203;
	color:White;
	padding-bottom:5px;
	width:100%;
}
.clsLogo
{
	color:#000000;
	font-weight:bolder;
	font-family:Courier New;
	font-size:18pt;
	padding-left:15px;
}
.clsHozToolBar
{
	
	background-color:Transparent; /*#FC7203*/
	color:white;
	padding-bottom:5px;
	width:75%;
	
}


.clsAuthorLabel
{
	background-color:red;
	font-family:Arial;
	font-size:8pt;
}




.clsFooter
{
	padding-top:25px;
}


.clsMenuItem
{
	font-family:Arial;
	font-size:10pt;
	padding: 0 2 0 2;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: Black;
	
}
.clsUserNameLabel
{
	background-color:Transparent;
	color:Black;
	font-family:Garamond;
	font-size:15pt;
	
}
.clsActionArea
{
	background-color:#999999;
	width:75%;
	
	
	
}

.clsPageElementContainerTitle
{
	background:black;
	color:White;
}
.clsPageElementPreview
{
	background:white;
	
}

.clsClipBoardHackTextBox
{
	background:black;
	color:White;
	width:200px;
	height:66px;
}
.clsGridHeadRow
{	
	font-weight:bolder;
	font-size:12pt;
}

.clsGridRow
{
	font-weight:normal;	
	font-size:8pt;
}
.clsSponsorRow
{
	background-color:#FC7203;
	font-size:9pt;
	font-weight:bold;
}

.clsLabel
{
	font-size:8pt;
}

.clsGridCell
{
	background-color: transparent;

}


.clsFauxButton
{
	border-style: outset;
	border-color: #FC7203;
	background-color:#FC7203;
	color:#ffffff;
	cursor:pointer;
	
	font-weight:bold;
	width: 180px;
	text-align: center;
	padding:5 5 5 5;
}

.clsLibDropUrl
{
  border-style: outset;
	border-color: #FC7203;
	background-color:#FC7203;
	color:#000000;
	cursor:pointer;
	font-family:Arial;
	font-size:10pt;
	
	text-align: center;
	padding:1 1 1 1;
	
}
.clsActionLinks
{
	background-color:Transparent;
}
.clsFlickrPanel
{
   background-color:#7b797b;	
   padding: 5 5 5 5;
   border-style:solid;
   border-width:1px;
}

.clsButtonAction
{
	font-size:9pt;
	font-weight: 700;
	padding: 0 4 0 4;
	letter-spacing: 0.1em;
	background-color:#815f3e;
	color:White;
	
}

.clsButtonActionClicked
{
	font-size:9pt;
	font-weight: 700;
	padding: 0 4 0 4;
	letter-spacing: 0.1em;
	font-style:italic;
	background-color:#815f3e;
	color:White;
}

.clsButtonActionHidden
{
		font-size:9pt;
	font-weight: 700;
	padding: 0 4 0 4;
	letter-spacing: 0.1em;
	display:none;
	
}
.clsButtonCancel
{
		font-size:9pt;
	font-weight: 700;
	padding: 0 4 0 4;
	letter-spacing: 0.1em;
}
.clsButtonCancelHidden
{
		font-size:9pt;
	font-weight: 700;
	padding: 0 4 0 4;
	letter-spacing: 0.1em;
}
.clsButtonVideo
{
		font-size:9pt;
	font-weight: 700;
	padding: 0 4 0 4;
	letter-spacing: 0.1em;
	
}
.clsStoryTitlePlatform
{
	font-size:13pt;
	font-family:Arial;
	background-color:#ffffff;
	width:400px;
	overflow:auto;
}

.clsStoryStatsPlatform
{
	font-size:8pt;
	font-family:Arial;
	background-color:transparent;
	text-align:right;
	
	overflow:auto;
}
.clsPageTitle
{
	font-size:11pt;
	font-family:Arial;
	
	
	background-color:Transparent;
	padding: 5px 15px 5px 15px;
}
.clsStoryTitle
{
	font-size:13pt;
	font-family:Arial;
	
	
	background-color:Transparent;
	padding: 5px 15px 5px 15px;
}

.clsStoryTitleLight
{
	font-size:10pt;
	font-family:Arial;
	
	
	color:#e9e9e9;
	padding: 5px 15px 5px 15px;
}
.clsStoryTitle2
{
	font-size:18pt;
	font-family:Arial;
	font-weight:bolder;
	padding: 5px 15px 5px 15px;
}

.clsStoryDescription
{
	font-size:8pt;
	font-family:Arial;
	color:black;
	padding: 5px 15px 5px 15px;
	width:85%;
	background-color:#f7f4cc;	 /*#f7f4cc*/
}

.clsPageView
{
	background-color: #ffffff;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	padding: 15px 25px 25px 15px;
	
}

.clsStoryCell
{
	background-color:#B7BF81;
	color:Black;
	width:35px;
	overflow:hidden;
	height:35px;
	font-size:8pt;
	font-family:Arial;
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:none;
	text-transform:lowercase;
}
.clsStoryCellSelected
{
	background-color:Black;
	color:#DCF057;
	width:35px;
	overflow:hidden;
	height:35px;
	font-size:8pt;
	font-family:Arial;
	text-transform:lowercase;
}

.clsSingleSelBox
{
	width:145px;
	background-color:Black;
	color:Yellow;
}
.clsMultiSelBox
{
	width:145px;
	background-color:Black;
	color:Yellow;
}

.clsHistory
{
	background-color:Black;
	color:#e0e0e0;
	font-family:Times New Roman;
	font-size:small;
	width:66%;
	height:300px;
	overflow:auto;
}

.clsStatusBar
{
	background-color:white;
	color:#000000;
	width:200px;
	height:100%;	
}

.clsMainPalette
{
	background-color:lime;
	color:White;
	width:800px;
	height:25px;	
}

.clsXYlabel
{
	background-color:white;
	color:#000000;
	width:100%;
	height:25px;	
	text-align:right;
}


          
.divWidgetShadow
{
	background-color:lime;
	color:Black;
	padding: 35px 5px 5px 5px;
	border:groove 2px black;
	position:absolute;
		
}



/*
.clsWidgetBox{
 background-color:red;
    top:0px; left:0px; width:250px;height:auto;

}
*/

.clsWidgetBoxHandle
{
 background-color:#e0e0e0;
 color:#272f27;
 width:250px;
 cursor:move;
 font-size:8pt;

}


.clsWidgetView
{
    background-color:Transparent;color:black;width:250px;
}

.clsWidgetViewHidden
{
    background-color:red;color:black;width:250px;
}

.clsButtonToggle
{
		font-size:9pt;
	font-weight: 700;
	padding: 0 4 0 4;
	letter-spacing: 0.1em;
}

.clsButtonUpdate
{
		font-size:9pt;
	font-weight: 700;
	padding: 0 4 0 4;
	letter-spacing: 0.1em;
	
}

.clsButtonSEV
{
	background-color:White;
	color:#000000;
	border-style:groove;
	font-size:xx-small;
}

.clsButtonUpdateAction
{
	font-size:9pt;
	font-weight: 700;
	padding: 0 4 0 4;
	letter-spacing: 0.1em;
}

.clsAnchorPoint
{
	/* Filter: Alpha(Opacity=25); /*, FinishOpacity=0, Style=2, StartX=20, StartY=40, FinishX=0, FinishY=0);*/
	background-color:Transparent;  	
	position:absolute;
	width:1px;
	height:1px;
}

.clsStoryViewerContainer /* stage */
{

	
	background-color:white;
	
	top:0px; 
	z-index:0;	
	float: left; 
	width: 1000px; 
	height:600px;
	min-height:400px; 
	padding:10px 0px; 
	margin-left: 110px; 


	/* lame attempt at a drop shadow 
	border-bottom: solid 10px black;
	border-right: solid 10px black;
*/
	border: outset 5px #e0e0e0;
}


.clsWidgetProperties
{
    background-color:#815f3e; /*815f3e F58512 */
    
    
    height:auto;width:auto;
    border:solid 2px #815f3e;
}



.clsSrcCode
{
	background-color:#ede7d0; /* # pantone 7499 c */
	width:990px;
	height:400px;
	color:black;
	font-size:16pt;

	padding:13px 13px 13px 13px;
	overflow:scroll;
}
.clsSrciptCode
{
	background-color:#ffffff; 
	width:990px;
	height:100px;
	color:black;
	font-size:16pt;
	
	font-family:Courier New;
	padding:13px 13px 13px 13px;
	overflow:scroll;
}
.clsStoryViewWidget_inline
{
	border: solid 1px #7b797b;
	background-color:Transparent;
}

.clsStoryViewWidget_mark
{
	border: solid 3px #000000;
	background-color:#F58512;
}

.clsStoryViewWidget_none
{
	
	background-color:Transparent;
}
.clsStoryViewWidget_hidden
{
	display:none; 
}

.clsMidPanel
{
	background-color:Transparent;	

}

.clsHandleBar
{
	background-color:lime;	
	width:100%;
}

.clsLockCheckPanel
{
	background-color:Transparent;
	cursor:default;
	padding-left:50px;
}


/* LEFT PANEL OPEN/CLOSE or LIB PANEL? */

.clsLibPanel
{
	
	/* left:25px; */
	width:350px;
	text-align:center;
	height:1200px;
	background-color:#e0e0e0;
	border: solid 1px black;
	padding: 25 25 25 25;
}

.clsLibViewer
{
	background-color:#e0e0e0;
	color:Black;
	width:95%;
	height:95%;	
}

.clsLibrarySectionHeader
{
	font-size:12pt;
	font-family:Arial;
	background-color:black;
	color:White;	
	padding: 2 2 2 2;
	cursor:pointer;
}
.clsLibPort
{
	background-color:black;
}

.clsRefresh
{
	font-size:12pt;
	font-family:Arial;
	background-color:black;
	font-weight:400;
	color:red;	
	padding: 2 2 2 2;
	cursor:pointer;
}



.clsLibrarySectionBod
{
	font-size:12pt;
	font-family:Arial;
	
	background-color:Orange;
	/* height:800px; */
	/*overflow:auto;*/
	padding: 3 3 3 3;
	color:White;	
}

.clsDragLibDiv
{
	background-color:white;
}


/* TOP PANEL OPEN/CLOSE */


.clsToggleClose
{
	
	background-image:url('images/closePanelN.gif');
	background-position:Center; 
	background-repeat:no-repeat;
	background-color:black;
	font-size:xx-small;
	width:900px;
	/* left:25px; */
	cursor:hand;
	color:#e0e0e0;
	text-align:center;
	height:12px;
	padding-bottom:5px;
}
.clsToggleOpen
{
	
	background-image:url('images/openPanelN.gif');
	background-position:Center; 
	background-repeat:no-repeat;
	background-color:black;
	font-size:xx-small;
	/* left:25px; */
	width:900px;
	cursor:hand;
	color:#e0e0e0;
	text-align:center;
	height:12px;
	padding-bottom:5px;
}
.clsToggleOpenMouseOver
{
	
	
	background-image:url('images/openPanelMouseOverN.gif');
	background-position:Center; 
	background-repeat:no-repeat;
	background-color:black;
	font-size:xx-small;
	/* left:25px; */
	width:900px;
	cursor:hand;
	color:#e0e0e0;
	text-align:center;
	height:12px;
	padding-bottom:5px;
}
.clsToggleCloseMouseOver
{
	
	
	background-image:url('images/closePanelMouseOverN.gif');
	background-position:Center; 
	background-repeat:no-repeat;
	background-color:black;
	font-size:xx-small;
	width:900px;
	/* left:25px; */
	cursor:hand;
	color:#e0e0e0;
	text-align:center;
	height:12px;
	padding-bottom:5px;
}










.clsCollapseExpandBar
{
	/* STORY NAME, STORY BY, SHARE/DEL LOCK VIEW */
	
	/*position:absolute;left:29px;*/
	
	
	height:auto;
	background-color:#7b797b;
	color:#8482b5;
	/* width:100%; */
	/* left:25px; */
	width:900px;
	font-size:12pt;
	font-weight:bold;
}

.clsCollapseExpandPanel
{
	/* left:25px; */
	width:900px;
	
	
}

.clsCollapseExpandBody
{
	/* STORY DESCRIPTION ecd482 f7f4cc b3b4b3*/
	background-color:black;
	color:Black;
	border:solid 1px black;
	
}


.clsLabelEdit
{
		
	font-size:9pt;
	padding: 12px 0px 12px 0px;
}

.clsLabelEditMouseOver
{
	background-color:#eeeaa5; /* # pantone 601c light yellow */
	font-size:9pt;
	padding: 12px 0px 12px 0px;
}

.clsLabelEditTextBox
{
	width:400px;
	height:150px;
	background-color:#ffffff;
	padding: 12px 12px 12px 12px;
}

.clsPageCounter
{
	
	font-size:9pt;
	padding: 12px 10px 12px 10px;

}

.clsLabelEditInputBox
{
	background-color:#ffffff;
}

.clsLoginLabel
{
	font-size:7pt;
	font-family:Arial;
	
}

.clsLoginButtons
{
	background-color:Transparent;
	text-align:right;
	padding: 4px 4px 4px 4px;	
}


.clsKlubIconBig
{
  font-size:26pt;
  color:#F58512;
  background-color:Black;
  padding-left:15px;
  padding-right:15px;
  text-align:center;
  	
}
.clsKlubIcon
{
  font-size:12pt;
  color:#cd5806;
  background-color:Black;
  padding-left:15px;
  padding-right:15px;
  text-align:center;
  	
}

.clsKlubIconMouseOver
{
  font-size:12pt;
  color:#000000;
  background-color:#cd5806;
  cursor:pointer; 
  padding-left:15px;
  padding-right:15px;
  text-align:center;
  	
}

.clsKlubName
{
		font-size:12pt;
	font-weight:bold;
}

.clsKlubStoryTitle
{
	font-size:14pt;
	font-weight:bold;
	padding: 0px 25px 0px 25px;
}

.clsKlubStoryAuthor
{
	font-size:14pt;
	font-weight:normal;
	padding: 0px 25px 0px 0px;
}


.clsKlubStoryTitleOnMouseOver
{
	font-size:14pt;
	font-weight:bold;
	padding: 0px 25px 0px 25px;
	background-color:#eeeaa5; 
}

.clsKlubStoryDescOnMouseOver
{
	font-size:9pt;
	padding: 10px 25px 10px 125px;
	background-color:#eeeaa5; 
}
.clsKlubStoryDesc
{
	font-size:9pt;
	padding: 10px 25px 10px 125px;
	background-color:Transparent; 
}

.clsLoginField
{
	background-color:#eeeaa5;
	color:black;
	width:150px;
	border: solid 1pt #888888;
	padding-left:3px;
}
.clsLoginFieldPassword
{
	background-color:#eeeaa5;
	color:black;
	width:150px;
	border: solid 1pt #888888;
	padding-left:3px;
}
.clsLoginButton
{
	font-size:9pt;
	font-weight: 700;
	padding: 0 4 0 4;
	letter-spacing: 0.1em;
}

.clsLoginAreaPanel
{
	background-color:Black;
}

.clsTOC2
{
	background-color:red;
	
}


.clsButtonChat
{
	font-family:Arial;
	color:White;
	background-color:#31259c;
	border: solid 1px white;
	font-size:9pt;	
}

.clsHandleChat
{
	background-color:#06315d;
	padding: 2px 2px 2px 2px;
	cursor:move;
	min-height:10px;
	height:15px;
}

.clsTheOutput
{
	background-color:#d5c9c1;
	color:#51321d; /*4a494a 7b797b*/
	font-size:9pt;
	font-family:Arial;
	width:900px;
	height:50px;
	padding: 3px 3px 3px 3px;

	overflow:scroll;
}

.clsSEV_Info
{
	
	background-color:#f7ffd3;
	font-size:8pt;
	font-family:Arial;
	
}

.clsFooterBasic
{
	
	background-color:Transparent;
	font-size:xx-small;
	color:#CAC8C8;
	padding-top:7px;
	padding-bottom:2px;
	width:900px;
	text-align:right;
	
}

.clsTOS
{
	background-color:Maroon;
	color:White;
	width:800px;
	height:150px;
	overflow:hidden;
		
	padding:22 22 22 22;
	font-size:8pt;
	
}

.clsPanelPropertiesAdvanced
{
	background-color:Maroon;
	width:100%;height:44px;
}


.clsActivated
{
	
		
	padding:22 22 22 22;
	font-size:8pt;
	
}

.clsLoginMsg
{
	font-family:Arial;
	font-size:12pt;	
}

SELECT.clsPageNavPulldown
{
	background-color:#e0e0e0;
	color:Maroon;
	letter-spacing:2;
	font-family:Arial;
	font-size:10pt;
	padding-right:5px;
}

SELECT.clsPageNavPulldownLGE
{
	background-color:#FFFFFF;
	color:BLACK;

	font-family:Arial;
	font-size:14pt;
	padding-right:5px;
}


.clsInput
{
	background-color:#ffffcc;
	font-size:8pt;
	width:200px;
	
		
}

.clsTupleTextArea
{
	background-color:#ffffcc;
	font-size:8pt;
	width:200px;
	height:50px;
		
}




/* logger default styles for YUI logger */
/* font size is controlled here: default 77% */
#yui-log {position:absolute;top:1em;right:1em;font-size:77%;text-align:left;}
/* width is controlled here: default 31em */
.yui-log {background-color:#AAA;border:1px solid black;font-family:monospace;z-index:9000;}
.yui-log p {margin:1px;padding:.1em;}
.yui-log button {font-family:monospace;}
.yui-log .yui-log-hd {padding:.5em;background-color:#575757;color:#FFF;}
/* height is controlled here: default 20em*/
.yui-log .yui-log-bd {width:100%;height:20em;background-color:#FFF;border:1px solid gray;overflow:auto;}
.yui-log .yui-log-ft {margin-top:.5em;margin-bottom:1em;}
.yui-log .yui-log-ft .yui-log-categoryfilters {}
.yui-log .yui-log-ft .yui-log-sourcefilters {width:100%;border-top:1px solid #575757;margin-top:.75em;padding-top:.75em;}
.yui-log .yui-log-btns {position:relative;float:right;bottom:.25em;}
.yui-log .yui-log-filtergrp {margin-right:.5em;}
.yui-log .info {background-color:#A7CC25;} /* A7CC25 green */
.yui-log .warn {background-color:#F58512;} /* F58512 orange */
.yui-log .error {background-color:#E32F0B;} /* E32F0B red */
.yui-log .time {background-color:#A6C9D7;} /* A6C9D7 blue */
.yui-log .window {background-color:#F2E886;} /* F2E886 tan */
